*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center 75%;
    color: #fff;
    height: 100vh;
}

.side-nav {
    background-color: snow;
    height: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.side-nav__list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 25px;
}

.side-nav__link {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', sans-serif;
    color: #202020;
    text-transform: capitalize;
    transition: all .5s;
}

.side-nav__link:hover {
    color: #1ac266;
}